<!DOCTYPE html>
<html>
<head>
  <title>PlantIdApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar">
	  <div class="navbar-inner">
	    <a class="brand" href="#">Plantae ID</a>
	    <% if user_signed_in? %>
		    <ul class="nav">
		    	<li><a href="#browse/1">Browse</a></li>
					<li><a href="#search">Search</a></li>
					<li><a href="#specimens/new">Upload</a></li>
					<li><a href="#browse/favorites">Favorites</a></li>
				</ul>
			<% end %>
			<ul class="nav pull-right">
				<li>
					<% if user_signed_in? %>
						<%= link_to "Log Out", destroy_user_session_path, :method => :delete %>
					<% else %>
						<%= link_to "Log In",new_user_session_path %>
					</li>
					<li>
						<%= link_to "Sign Up", new_user_registration_path %>
					<% end %>
			</li>
	    </ul>
	  </div>
	</div>

	<%= yield %>

</body>
</html>
